/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: 'Aktiv', !default;
$font-family-monospace: 'Iosevka Custom Web', !default;

// colors
$body-bg: #f0f1eb !default;
$body-color: #000 !default;
$link-color: #3c49ff !default;
$selection-bg: #8c81ec !default;

:root {
    --r-heading2-size: 100;
}

.slide-number, .reveal.has-logo .slide-number {
  bottom: 14px !important;
  left: 50px !important;
  top: unset !important;
  color: $selection-bg !important;
}