
@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('Iosevka/IosevkaCustom-Thin.woff2') format('woff2'), url('TTF/IosevkaCustom-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('Iosevka/IosevkaCustom-ExtendedThin.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('Iosevka/IosevkaCustom-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('Iosevka/IosevkaCustom-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('Iosevka/IosevkaCustom-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('Iosevka/IosevkaCustom-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('Iosevka/IosevkaCustom-ThinItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('Iosevka/IosevkaCustom-ExtendedThinItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('Iosevka/IosevkaCustom-ExtraLight.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('Iosevka/IosevkaCustom-ExtendedExtraLight.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('Iosevka/IosevkaCustom-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('Iosevka/IosevkaCustom-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('Iosevka/IosevkaCustom-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('Iosevka/IosevkaCustom-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('Iosevka/IosevkaCustom-ExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('Iosevka/IosevkaCustom-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('Iosevka/IosevkaCustom-Light.woff2') format('woff2'), url('TTF/IosevkaCustom-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('Iosevka/IosevkaCustom-ExtendedLight.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('Iosevka/IosevkaCustom-LightOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('Iosevka/IosevkaCustom-LightOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('Iosevka/IosevkaCustom-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('Iosevka/IosevkaCustom-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('Iosevka/IosevkaCustom-LightItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('Iosevka/IosevkaCustom-ExtendedLightItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('Iosevka/IosevkaCustom-Regular.woff2') format('woff2'), url('TTF/IosevkaCustom-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('Iosevka/IosevkaCustom-Extended.woff2') format('woff2'), url('TTF/IosevkaCustom-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('Iosevka/IosevkaCustom-Oblique.woff2') format('woff2'), url('TTF/IosevkaCustom-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('Iosevka/IosevkaCustom-Oblique.woff2') format('woff2'), url('TTF/IosevkaCustom-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('Iosevka/IosevkaCustom-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('Iosevka/IosevkaCustom-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('Iosevka/IosevkaCustom-Italic.woff2') format('woff2'), url('TTF/IosevkaCustom-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('Iosevka/IosevkaCustom-ExtendedItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('Iosevka/IosevkaCustom-Medium.woff2') format('woff2'), url('TTF/IosevkaCustom-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('Iosevka/IosevkaCustom-ExtendedMedium.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('Iosevka/IosevkaCustom-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('Iosevka/IosevkaCustom-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('Iosevka/IosevkaCustom-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('Iosevka/IosevkaCustom-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('Iosevka/IosevkaCustom-MediumItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('Iosevka/IosevkaCustom-ExtendedMediumItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('Iosevka/IosevkaCustom-SemiBold.woff2') format('woff2'), url('TTF/IosevkaCustom-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('Iosevka/IosevkaCustom-ExtendedSemiBold.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('Iosevka/IosevkaCustom-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('Iosevka/IosevkaCustom-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('Iosevka/IosevkaCustom-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('Iosevka/IosevkaCustom-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('Iosevka/IosevkaCustom-SemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('Iosevka/IosevkaCustom-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('Iosevka/IosevkaCustom-Bold.woff2') format('woff2'), url('TTF/IosevkaCustom-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('Iosevka/IosevkaCustom-ExtendedBold.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('Iosevka/IosevkaCustom-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('Iosevka/IosevkaCustom-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('Iosevka/IosevkaCustom-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('Iosevka/IosevkaCustom-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('Iosevka/IosevkaCustom-BoldItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('Iosevka/IosevkaCustom-ExtendedBoldItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('Iosevka/IosevkaCustom-ExtraBold.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('Iosevka/IosevkaCustom-ExtendedExtraBold.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('Iosevka/IosevkaCustom-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('Iosevka/IosevkaCustom-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('Iosevka/IosevkaCustom-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('Iosevka/IosevkaCustom-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('Iosevka/IosevkaCustom-ExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('Iosevka/IosevkaCustom-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('Iosevka/IosevkaCustom-Heavy.woff2') format('woff2'), url('TTF/IosevkaCustom-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('Iosevka/IosevkaCustom-ExtendedHeavy.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('Iosevka/IosevkaCustom-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('Iosevka/IosevkaCustom-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('Iosevka/IosevkaCustom-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('Iosevka/IosevkaCustom-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('Iosevka/IosevkaCustom-HeavyItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('Iosevka/IosevkaCustom-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF/IosevkaCustom-ExtendedHeavyItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'CustomFont';
    src: url('./AktivFontFiles/Aktiv_Regular.otf') format('truetype');
}

@font-face {
	font-family: 'Aktiv';
	src: url('./AktivFontFiles/Aktiv_Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Aktiv';
	src: url('./AktivFontFiles/Aktiv_Bold.otf') format('opentype');
	font-weight: bold;
}

@font-face {
	font-family: 'Aktiv';
	src: url('./AktivFontFiles/Aktiv_Medium.otf') format('opentype');
	font-weight: 500;
}

@font-face {
	font-family: 'Aktiv';
	src: url('./AktivFontFiles/Aktiv_Light.otf') format('opentype');
	font-weight: 300;
}

@font-face {
	font-family: 'Aktiv';
	src: url('./AktivFontFiles/Aktiv_Regular_Italic.otf') format('opentype');
	font-style: italic;
}

@font-face {
	font-family: 'Aktiv';
	src: url('./AktivFontFiles/Aktiv_Bold_Italic.otf') format('opentype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Aktiv';
	src: url('./AktivFontFiles/Aktiv_Medium_Italic.otf') format('opentype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Aktiv';
	src: url('./AktivFontFiles/Aktiv_Light_Italic.otf') format('opentype');
	font-weight: 300;
	font-style: italic;
}

:root {
	--top-bar-height: 15%;
}
  
.top-bar {
    margin-top: -5%;
    height: var(--top-bar-height);
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
	margin-bottom: 1%;
}

.left, .right {
	margin-top: inherit;
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: black;
	height: var(--top-bar-height);
}

.left {
	left: -9999px;
	right: 50%;
}

.center {
	background-color: transparent;
	position: absolute;
	margin-top: -3.5%;
	height: var(--top-bar-height);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	align-items: center;
	align-content: center;
}
.right {
	left: 50%;
	right: -9999px;
}
  
.left-text {
	margin-top: -0.5%;
    font-size: 100%;
}

.logo {
    position: absolute;
	top: 0;
	right: 0;
	height: 70px;
	left: unset;
	z-index: 123;
	margin-top: 1.5%;
}

.bottom-logo {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 70px;
	left: unset;
	z-index: 123;
	margin-bottom: -0%;
}

code.sourceCode {
    font-size: 22pt;
    font-family: 'Iosevka Custom Web';
    font-weight: 400;
	line-height: 0;
}

.reveal pre code {
	background-color: var(--code-background-color);
}

.reveal pre.sourceCode code {
	max-height: 100%;
	background-color: var(--code-background-color);
}

.reveal div.sourceCode {
    border: 2px solid #d5d5d6;
    border-radius: 5px;
}


.slide-background-content {
	background: white;
}

.firstsect .slide-background-content {
	background: linear-gradient(to right, #ffffff, #ffffff, #8d9bff);
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
  }

  .columns {
	display: flex;
	flex: 1;
  }

  .column {
	flex: 1;
	/* border: 1px solid #000; /* Optional: for visual separation */
	box-sizing: border-box;
	height: 100%;
  }

  .bottom-box {
	height: 100%;
	/* border: 1px solid #000; /* Optional: for visual separation */
	box-sizing: border-box;
	font-size: 100%;
  }

:root {
	--name-font-size: 80%;
	--title-font-size: 140%;
	--code-background-color: #f0f0f1;
}

.quarto-title-authors {
	height: 100%;
	display: block;
}

.quarto-title-author-name {
	font-size: var(--name-font-size);
	margin-bottom: -1%;
}

.quarto-title-author-acknowledgements {
	font-size: 50%
}

.quarto-title-affiliation {
	font-size: calc(var(--name-font-size) * 0.9);
}

.quarto-title-author-email {
	font-size: calc(var(--name-font-size) * 0.6);
}

.quarto-fundar-area-logo {
	display: flex;
	justify-content: flex-end;
	height: 15%;
	margin-bottom: 10%;
}

.quarto-title-title {
	font-size: calc(var(--title-font-size));
}

.quarto-title-subtitle {
	font-size: calc(var(--title-font-size) * 0.45);
}

.code-with-filename {
	.code-with-filename-file {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	pre strong {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
	}

}

.slides h2 {
    font-size: 100%;
	font-weight: 400;
	margin-top: -0.8%;
}
